<h1>Guess The Number</h1>
<input id="guessedNumber">
<button onclick="checking()">check</button>
<p id="Answer"> Your Answer Is right/Wrong</p>
<script>
    var guessedNumber=document.getElementById("guessedNumber");
    var randomNumber= Math.floor(Math.random()*10)+1
    var Answer=document.getElementById("Answer")
    function checking()
    {
        var inputNumber=guessedNumber.value;
        if(randomNumber==inputNumber)
        {
            console.log("Right Answer")
            Answer.textContent="Right"
            alert("You Won")

        }
        else{
            console.log("Wrong Answer" + randomNumber)
            Answer.textContent="Wrong"

        }
    }
    
</script>