<input id="num1">
<input id="num2">
<button onclick="addition()">Add</button>
<p id="ans">Result</p>
<script>
    var box1=document.getElementById("num1");
    var box2=document.getElementById("num2");
    function addition()
    {
        var val1= Number(box1.value)
        var val2=Number(box2.value)
        var result=val1+val2;
        ans.textContent=result;
    }
</script>
