<input id="input"  onkeyup="typing()">
<button>button</button>
<h1 id="type"></h1>


<script>
    var input=document.getElementById("input")
    var type=document.getElementById("type")  
      function typing()
    {
        type.textContent=input.value;
    }

</script>